//Exolot Theme Files

@import "settings";

//modules
@import "modules/navbar";
@import "modules/footer";

// components
@import "components/postItem";
@import "components/banner";
@import "exolot_popup";
@import "exolot_responsive";

@import "exolot_style";

.green {
  color: $primary-color;
}

.bg-dark {
  background-color: $secondary-color !important;
  color: white;
}

.accordian_icon {
  float: right;
}
