// @include skel-layout(
//   (
//     reset: "full",
//     boxModel: "border",
//   )
// );
//Exolot Theme Files
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

@import "settings";

@include skel-breakpoints(
  (
    xlarge: "(max-width: 1680px)",
    large: "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    xmedium: "(max-width: 820px)",
    small: "(max-width: 736px)",
    xsmall: "(max-width: 480px)",
    xxsmall: "(max-width: 360px)",
  )
);

// @mixin inner {
//   > .inner {
//     @include padding(4em, 0);
//     margin: 0 auto;
//     max-width: _size(inner);
//     width: calc(100% - 6em);

//     @include breakpoint(small) {
//       @include padding(3em, 0);
//       width: calc(100% - 3em);
//     }
//   }
// }
// Layout
@import "layout/navbar";
@import "layout/footer";

// Components
@import "components/postItem";
@import "components/ourStory";
@import "components/meetTheTeam";
@import "components/whatWeProvide";
@import "components/whatWeDo";
@import "components/blogCard";
@import "components/pagination";
@import "components/postList";
@import "components/workWith";
@import "components/banner";
@import "components/blogBanner";
@import "components/onTheBlog";

// Pages
@import "pages/blog";
// Templates
@import "templates/blog";
@import "templates/post";
@import "exolot_popup";
@import "exolot_responsive";

@import "exolot_style";

a {
  color: $primary-color;
}

.green {
  color: $primary-color;
}

.bg-dark {
  background-color: $secondary-color !important;
  color: #eee !important;
  p {
    color: #eee !important;
  }
}

.accordion > .card .card-header {
  margin-bottom: -1px;
  border-bottom: 2px solid $primary-color;
}

.accordian_icon_right {
  float: right;
}

.accordian_icon_left {
  float: left;
}

@media screen and (max-width: 992px) {
  .mobile {
    display: none !important;
  }
}

.sensor {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  height: 1px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}
