//Exolot Theme Files
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

@import "settings";

//layout
@import "layout/navbar";
@import "layout/footer";

// components
@import "components/postItem";
@import "components/whatWeProvide";
@import "components/banner";
@import "exolot_popup";
@import "exolot_responsive";

@import "exolot_style";

.green {
  color: $primary-color;
}

.bg-dark {
  background-color: $secondary-color !important;
  color: white;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
  border-bottom: 2px solid $primary-color;
}

.accordian_icon_right {
  float: right;
}

.accordian_icon_left {
  float: left;
}
