//Exolot Theme Files
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

@import "settings";

// Layout
@import "layout/navbar";
@import "layout/footer";

// Components
@import "components/postItem";
@import "components/ourStory";
@import "components/meetTheTeam";
@import "components/whatWeProvide";
@import "components/blogCard";
@import "components/pagination";
@import "components/postList";
@import "components/banner";
@import "components/blogBanner";

// Pages
@import "pages/blog";
// Templates
@import "templates/blog";
@import "templates/post";
@import "exolot_popup";
@import "exolot_responsive";

@import "exolot_style";

a {
  color: $primary-color;
}

.green {
  color: $primary-color;
}

.bg-dark {
  background-color: $secondary-color !important;
  color: white;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
  border-bottom: 2px solid $primary-color;
}

.accordian_icon_right {
  float: right;
}

.accordian_icon_left {
  float: left;
}

@media screen and (max-width: 992px) {
  .mobile {
    display: none !important;
  }
}
