#WhatWeProvide {
  background: url("../img/gamer1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.what_we_provide {
  padding: 10px 120px;
  color: white;
}

@media screen and (max-width: 768px) {
  .what_we_provide {
    padding: 10px;
    color: white;
  }
}
