#WhatWeDo {
  h2 {
    text-decoration: underline;
  }
}

.wwd_item {
  padding: 0 15px;
}

.wwd_circle {
  border: solid 2px $primary-color;
  border-radius: 50%;
  img {
    padding: 40px;
  }
}
.wwd_stat {
  hr {
    transform: rotate(-45deg);
    width: 100px;
  }
  text-align: right;
}

.big_number {
  padding-top: 25px;
  font-size: 65px;
  span {
    font-size: 35px;
  }
}
